[Unit]
Description=Bot for Jiangning EMIS system

[Service]
User=yy
Type=oneshot
ExecStart=sh -c 'date >> /tmp/emis_bot.txt'
ExecStart=sh -c 'for i in `seq 10`; do echo "Attempt $i"; /home/yy/.b/emis_report.py --account=/home/yy/w/nsfz/emis/accounts.json --holiday=/home/yy/w/nsfz/emis/holidays.json --workday=/home/yy/w/nsfz/emis/workdays.json --sickleave=/home/yy/w/nsfz/emis/sickleave.json --logfile=/home/yy/w/nsfz/emis/log/report.html  && break; done'
