[Unit]
Description=Bot for Jiangning EMIS system

[Service]
User=USER_NAME
Type=oneshot
ExecStart=sh -c 'date >> /tmp/emis_bot.txt'
ExecStart=sh -c 'for i in `seq 10`; do echo "Attempt $i"; /PATH/TO/emis_report.py --account=/PATH/TO/accounts.json --holiday=/PATH/TO/holidays.json --workday=/PATH/TO/workdays.json --sickleave=/PATH/TO/sickleave.json --logfile=/PATH/TO/log/report.html  && break; done'
